#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.navClass{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  background-color: #a5a5a5;
  color: #fff;
}