#root {
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  background: url(../public/imagen-fondo.jpg) center;
  background-size: auto;
  background-attachment: fixed;
  padding: 0px 0px 45px 0px;
}

.h1-Titulo {
  background-color: #dddddda9;
  margin: 0px;
}

.div-navClass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #dddddda9;
  color: #fff;
}

.div-button-NavBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.span-Cart-NavBar {
  color: #000000;
}

.div-ItemList {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
}

.ItemList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #dddddd94;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  height: 100%;
  /*height: 400px;*/
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #dddddd94;
}

.image-ItemList {
  background-color: white;
  object-fit: contain;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #02020223;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-ItemList {
  padding: 5px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-ItemList:hover {
  background-color: #45a049;
}

.div-ItemDetail {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
}

.ItemDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #dddddd94;
  border-radius: 8px;
  padding: 10px;
  width: 70%;
  height: 100%;

  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ddddddcb;
}

.image-ItemDetail {
  background-color: white;
  object-fit: contain;
  width: 100%;
  height: 400px;
  border-radius: 8px;
  border: 1px solid #02020223;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-ItemDetail {
  padding: 5px;
  background-color: #5d73a5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-Agregar-ItemDetail {
  padding: 5px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-Agregar-ItemDetail:hover {
  background-color: #4caf50;
}

.link-General {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.25s;
}

.link-General:hover {
  color: white;
}

.button-NavBar {
  padding: 5px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.button-NavBar:hover {
  background-color: #45a049;
}

.style-ItemListContainer {
  backdrop-filter: blur(4px);
  padding: 20px 0px 20px 0px;
  margin: 20px 20px 0px 20px;
  gap: 20px;
}

.div-CountComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-CountComponent {
  background-color: #1a1a1a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-CountComponent:hover {
  background-color: #45a049;
}

.span-CountComponent {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.h1-UserInfo {
  background-color: #0000008a;
  color: white;
  margin: 0;
}

.div-UserInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #0000008a;
  gap: 10px;
  padding: 20px;
}

.form-UserInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #0000008a;
  gap: 10px;
  padding: 20px;
}

.input-UserInfo {
  width: 100%;
  height: 30%;
}

.button-UserInfo {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-UserInfo:hover {
  background-color: #45a049;
}

.resume-UserInfo {
  padding: 10px;
  background-color: #000000;
  color: white;
}

.div-CartWidget {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ul-CartWidget {
  list-style-type: none;
  padding: 0;
}

.item-div-CartWidget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.item-image-CartWidget {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.item-name-CartWidget {
  font-size: 18px;
  flex: 2;
  margin-left: 15px;
}

.item-price-CartWidget,
.item-quantiy-CartWidget {
  font-size: 16px;
  text-align: right;
}

.total-CartWidget {
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}